# .NET
bin/
obj/
*.db
*.db-shm
*.db-wal
*.user
*.suo
.vs/
*.DotSettings.user

# Node
node_modules/
dist/
.angular/
.npm/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
